<section id="experiencia" class="section">
    <div class="container">
        <h2>Professional Experience</h2>
        <div class="timeline">
            <div class="timeline-item right">
                <div class="timeline-content">
                    <div class="date">March  2021 - November 2021</div>
                    <h3>Junior Software Engineer</h3>
                    <h4>99/Didi Chuxing</h4>
                    <p>In this role, I continued working in the same area of software engineering, but with new tasks. One of them was investigating issues related to our cloud services and trying to solve them. To this end, I began to have access to AWS and some of the services we use, such as EC2, Elastic Beanstalk, S3, and others. Another task I began to perform was explaining some of our systems to the foreign members who had started working with us since the sale of the company.</p>
                </div>
            </div>
            <div class="timeline-item left">
                <div class="timeline-content">
                    <div class="date">February 2019 - February 2021</div>
                    <h3>Software Engineering Intern</h3>
                    <h4>99/Didi Chuxing</h4>
                    <p>The software engineering team I worked on was responsible for managing the B2B platform. In this role, I performed tasks such as developing new features for the platform, migrating legacy code to Java, creating Python scripts to automate services required by other departments or clients that hadn't yet been developed for the platform, and providing support to the support team in fixing bugs found in the platform.</p>
                </div>
            </div>
            <div class="timeline-item right">
                <div class="timeline-content">
                    <div class="date">July 2018 - February 2019</div>
                    <h3>Treinee Site Reliability Engineer (SRE)</h3>
                    <h4>99/Didi Chuxing</h4>
                    <p>The SRE team I worked on was responsible for managing the cloud services and applications used by the company. In this role, I performed tasks using Linux, Golang, virtualization tools, and managing virtual machines with Ansible, Vagrant, and Terraforms.</p>
                </div>
            </div>
        </div>
    </div>
</section>