<section id="jornada" class="section">
    <div class="container">
        <h2>My Journey</h2>
        <div class="content">
            <div class="text">
                <br>
                <p>Hi, I'm Harison, and I live in São Paulo, Brazil.</p>
                <p>At 17, I enrolled in what I believed was a basic computer skills course. I thought I would be learning the Microsoft Office suite to improve my job prospects. To my complete surprise, the course was actually about programming—and that twist of fate changed the entire course of my life.</p>
                <p> A while later, I got my first professional experience at 99, the first Brazilian startup to become a unicorn and a major competitor to Uber in Brazil, and now a global player after being acquired by the Chinese company Didi Chuxing. 
                <br>I started in SRE team, and later was invited to join the Software Engineering team, where I discovered what truly drives me: solving real-world problems through code and automation. And where I worked alongside engineers from Brazil, China, and the United States. </p>
                <p>Technology found me by chance, but I chose to make it my own. I stayed because I've always believed it would play an ever-growing role in our lives. Being able to understand and build solutions that are part of that progress is what motivates me every single day. </p>
            </div>
            <div class="image">
                <img src="/img/avatar2.jpg" alt="Ambiente de trabalho ou hobby">
            </div>
        </div>
    </div>
</section>