<section id="projects" class="section section-light">
  <div class="container">
    <h2>My Projects</h2>

    <div class="projects-list">

      <article class="project">
        <div class="thumb">
          <a href="#" title="Ver detalhes do Projeto A">
            <!-- "1920x1080" (full hd in frame with ble borders) -->
            <img src="img/b2bPlatafform.png" alt="Thumb do projeto A">
          </a>
        </div>
        <div class="meta">
          <div class="kicker">Web application</div>
          <h3 class="title">B2B Management System</h3>
          <p class="desc">A B2B web platform where company managers provision and control their employees' access to the platform's services and features. The frontend was built with React and Tailwind CSS, providing the interface. The backend, in Spring Boot, implements Spring Security for authentication, and is orchestrated via Docker Compose for development and production environments.</p>
          <div class="tags">
            <span class="tag">React</span>
            <span class="tag">Tailwind</span>
            <span class="tag">Spring Boot</span>
            <span class="tag">APIs REST</span>
          </div>
          <div class="actions">
            <a class="btn primary" href="#">Demo</a>
            <a class="btn" href="#">Code (GitHub)</a>
          </div>
        </div>
      </article>

      <article class="project">
        <div class="thumb">
            <a href="#" title="Ver detalhes do Projeto B">
              <!-- "1280x720"(hd with borders blue) -->
              <img src="img/AutoVidCreator.png" alt="Thumb do projeto A">
            </a>
        </div>
        <div class="meta">
          <div class="kicker">Microserviços</div>
          <h3 class="title">Plataforma de Agendamento</h3>
          <p class="desc">Conjunto de microserviços com deploy automatizado, testes end-to-end e monitoramento com Prometheus + Grafana. Projeto focado em resiliência e deploy contínuo.</p>
          <div class="tags">
            <span class="tag">Kubernetes</span>
            <span class="tag">Jenkins</span>
            <span class="tag">Docker</span>
          </div>
          <div class="actions">
            <a class="btn primary" href="#">Demo</a>
            <a class="btn" href="#">Code (GitHub)</a>
          </div>
        </div>
      </article>

      <article class="project">
          <div class="thumb">
              <a href="#" title="Ver detalhes do Projeto B">
                  <!-- "1280x720"(hd with borders blue) -->
                  <img src="img/material_selector.png" alt="Thumb do projeto A">
              </a>
          </div>
          <div class="meta">
              <div class="kicker">Embedded Systems</div>
              <h3 class="title">Material Sorter</h3>
              <p class="desc">Embedded Material Classification System utilizing the ATMega328P, featuring metal detection sensors and acoustic/vibrational analysis. Project focused on real-time processing, firmware efficiency, and robust hardware interaction.</p>
              <div class="tags">
                  <span class="tag">Arduino</span>
                  <span class="tag">ATmega328P</span>
                  <span class="tag">Sensors</span>
                  <span class="tag">Servo Motors</span>
              </div>
              <div class="actions">
                  <a class="btn primary" href="#">Demo</a>
                  <a class="btn" href="#">Code (GitHub)</a>
              </div>
          </div>
      </article>
      
    </div>
  </div>

  <div class="see-more-container">
    <a href="{{ site.baseurl }}/projects.html">See all projects</a> 
  </div>
</section>


<!-- Images could be 
 "710x520"(to view full image in frame),
 "1280x720"(hd with borders blue),
 "1920x1080" (full hd in frame with ble borders) 
-->