<section id="projects" class="section section-light">
  <div class="container">
    <h2>My Projects</h2>

    <div class="projects-list">

      <article class="project">
        <div class="thumb">
          <a href="#" title="Ver detalhes do Projeto A">
            <!-- "1920x1080" (full hd in frame with ble borders) -->
            <img src="img/b2bPlatafform.png" alt="Thumb do projeto A">
          </a>
        </div>
        <div class="meta">
          <div class="kicker">Web application</div>
          <h3 class="title">B2B Management System</h3>
          <!-- ADD THIS COMPLETE DESCRIPTION ON README ON GITHUB <p class="desc">A B2B web platform where company managers provision and control their employees' access to the platform's services and features. The frontend was built with React and Tailwind CSS, providing the interface. The backend, in Spring Boot, implements Spring Security for authentication, and is orchestrated via Docker Compose for development and production environments.</p>-->
          <p class="desc">A B2B web platform where company managers provision and control their employees' access to the platform's services and features.</p>
          <div class="tags">
            <span class="tag">React</span>
            <span class="tag">Tailwind</span>
            <span class="tag">Spring Boot</span>
            <span class="tag">APIs REST</span>
          </div>
          <div class="actions">
            <a class="btn primary" href="#">Demo</a>
            <a class="btn" href="#">Code (GitHub)</a>
          </div>
        </div>
      </article>

      <article class="project">
        <div class="thumb">
            <a href="#" title="Ver detalhes do Projeto B">
              <!-- "1280x720"(hd with borders blue) -->
              <img src="img/AutoVidCreator.png" alt="Thumb do projeto A">
            </a>
        </div>
        <div class="meta">
          <div class="kicker">Desktop application</div>
          <h3 class="title">Automated Video Generator</h3>
          <!-- ADD THIS COMPLETE DESCRIPTION ON README ON GITHUB <p class="desc">A desktop application built in Python that fully automates the workflow of transforming a text script into a narrated video. The software reads a roteiro.txt file, generates the Text-to-Speech (TTS) narration, and then performs a media compilation by synchronizing the audio track and background sound with a selected sequence of images. The backend uses libraries like FFmpeg for video editing and assembly, and for final export, providing a highly efficient Script-to-Video automation pipeline for content creation.</p> -->
          <p class="desc">A desktop application built in Python that fully automates the workflow of transforming a text script into a video.</p>
          <div class="tags">
            <span class="tag">Python</span>
            <span class="tag">PyQt6</span>
            <span class="tag">FFmpeg</span>
            <span class="tag">PowerShell Scripts</span>
          </div>
          <div class="actions">
            <a class="btn primary" href="#">Demo</a>
            <a class="btn" href="#">Code (GitHub)</a>
          </div>
        </div>
      </article>

      <article class="project">
          <div class="thumb">
              <a href="#" title="Ver detalhes do Projeto B">
                  <!-- "1280x720"(hd with borders blue) -->
                  <img src="img/material_selector.png" alt="Thumb do projeto A">
              </a>
          </div>
          <div class="meta">
              <div class="kicker">Embedded Systems</div>
              <h3 class="title">Material Sorter</h3>
              <!-- ADD THIS COMPLETE DESCRIPTION ON README ON GITHUB <p class="desc">Desenvolvi um sistema com Arduino e ATmega328P para classificar automaticamente materiais recicláveis (vidro, plástico ou metal). O projeto utiliza sensores para detectar o tipo de material de uma garrafa inserida, contribuindo para a automatização e eficiência na separação de resíduos.</p> "1280x720"(hd with borders blue) -->
              <p class="desc">The project acknowledges the object's material (glass, plastic, or metal) and ensures it is properly routed and discarded into the correct collection bin.</p>
              <div class="tags">
                  <span class="tag">C++</span>
                  <span class="tag">Arduino</span>
                  <span class="tag">ATmega328P</span>
                  <span class="tag">Sensors</span>
              </div>
              <div class="actions">
                  <a class="btn primary" href="#">Demo</a>
                  <a class="btn" href="#">Code (GitHub)</a>
              </div>
          </div>
      </article>
      
    </div>
  </div>

  <div class="see-more-container">
    <a href="{{ site.baseurl }}/projects.html">See all projects</a> 
  </div>
</section>


<!-- Images could be 
 "710x520"(to view full image in frame),
 "1280x720"(hd with borders blue),
 "1920x1080" (full hd in frame with ble borders) 
-->