<section id="habilidades" class="section section-light">
    <div class="container">
        <h2>My Skills</h2>
        <div class="skills-grid">
            <div class="skill-category">
                <i class="fas fa-code"></i>
                <h3>Frontend Development</h3>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript (ES6+)</li>
                    <li>React.js</li>
                    <li>Vue.js</li>
                    <li>Tailwind</li>
                </ul>
            </div>
            <div class="skill-category">
                <i class="fas fa-server"></i>
                <h3>Backend Development</h3>
                <ul>
                    <li>Java (Spring Framework)</li>
                    <li>Python (Django/Flask)</li>
                    <li>SQL Databases (PostgreSQL)</li>
                    <li>NoSQL Databases (MongoDB)</li>
                    <li>APIs RESTful & GraphQL</li>
                </ul>
            </div>
            <div class="skill-category">
                <i class="fas fa-tools"></i>
                <h3>Tools & Others</h3>
                <ul>
                    <li>Git & GitHub</li>
                    <li>CI/CD</li>
                    <li>Docker & Kubernets</li>
                    <li>Amazon Web Services</li>
                    <li>Agile Methodologies (Scrum)</li>
                </ul>
            </div>
        </div>
    </div>
</section>